:host {
  display: block;
}

.results-wrapper {
  position: relative;
}

.results {
  position: relative;
  max-height: 200px;
  overflow-y: auto;
}

.hit {
  position: relative;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  color: grey;

  transition: color 0.1s ease;
}
.hit-inner {
  position: absolute;
  z-index: 10;
}

.active {
  color: white;
}
.active-hit {
  position: absolute;
  top: 0;
  z-index: 1;
  cursor: pointer;
  pointer-events: none;

  transition: transform 0.05s ease, color 0.1s ease;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  height: 24px;
  width: 100%;
}
.active-hit.hidden {
  background: rgba(255, 255, 255, 0);
}
