:host {
  display: block;
}
:root {
  --font-s: 40px;
}

form {
  display: flex;
}

.text-input {
  flex-grow: 1;
  font-size: var(--font-s);
  color: var(--font-color-dimmed);
  padding: 10px;
  border: none;
  background: transparent;

  &:placeholder {
    color: var(--font-color-dimmed);
  }

  &:focus {
    outline: none;
  }
}

